<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %> -- NodeWiki</title>
  </head>
  <body>
    <h1><%= title  %> Page ID: <%= pageId %></h1>
    <h4>By: <%= author  %> on <%= createdAt  %></h4>
    <p><%= content %></p>
  </body>
</html>
